<h1>This is all the information about this kitten: </h1>

<ul>
    <b>Name: </b><li><%= @kitten.name %></li>
    <b>Age: </b><li><%= @kitten.age %></li>
    <b>Cuteness: </b><li><%= @kitten.cuteness %></li>
    <b>Softness: </b><li><%= @kitten.softness %></li>
</ul>

<ul>
    <li><%= link_to "Edit this kitten", edit_kitten_path(@kitten) %></li>
    <li><%= link_to "Delete this kitten", kitten_path(@kitten), data: {
                                        turbo_method: :delete,
                                        turbo_confirm: "Are you sure you want to delete this kitten?"
    } %></li>
</ul>